body {
  /*font-size: 10pt;*/
}
p.tamanoGrande {
  font-size: 2em; /*200% del valor inicial*/
}
p.tamanoNormal {
  font-size: 1em; /*100% del valor inicial*/
}
p.tamanoPequeño {
  font-size: 0.7em; /*70% del valor inicial*/
}
/*TAMAÑO PT se usa, 1 punto equivale a 1 pulgada/72, es decir, unos 0.35 milímetros*/
/*TAMAÑO EM es un valor relativo con respecto al tamaño de la fuente que
tenga configurado el navegador. Es el que más se usa. También se referencia
al tamaño de su elemento padre*/
/*--------------------------------------------------------------------*/

h1 {
  color: blue; /*Los colores se definen con nombre, en hexadecimal o  rgb */
  font-family: Arial, serif;
}

/*
PROPIEDADES DE TEXTO
PROPIEDAD COLOR es el color de fuente
BACKGROUND-COLOR es color de fondo
TEXT-DECORATION: decora el texto
COLOR: color de texto
TEXT-ALIGN: alineación del texto
DIRECTION: dirección del TEXTO
TEXT-TRANSFORMATION: convierte mayúsculas, minúsculas, etc
FONT-FAMILY: tipos de letras, terminar con serif o sans serif para que el navegador
  escoja la que más se parece
*/
