/*Leer ELEMENTOS DE BLOQUE y ELEMENTOS DE LÍNEA
https://uniwebsidad.com/libros/css/capitulo-5/tipos-de-elementos*/

#enlaces{
  width: 100%;
  height: auto; /*se puede poner en píxeles, por ejemplo 200 px*/
  background-color: green;
  border-style:double;
  margin:1em; /*separación del elemento y resto de las cajas, L, R, T, B */
  padding: 2em; /*separación del texto y la caja, L, R, T, B */
}
#cabecera{
  width: 75%;  /*ancho*/
  height:auto; /*alto*/
  /*position: relative;
  top:3em;
  left: 5em;*/
  background-color: red;
  border-style:dotted; /*borde*/
  margin: 2em;
  padding: 4em;
  background-image: url(marcadeagua.png);
}

#contenido{
  width: 100%;
  height:auto;
  background-color: blue;
  border-style:groove;
  margin:1em;
  padding:1em;
}

/*PASOS PARA PROBAR:
1. Todos con position: static --> No hace nada
2. Poner a cabecera: Position: relative: top: 8em: left:5em;
provoca desplazamientos. Se superponen cajas, va dejando huecos*/
