#enlaces{
  position: static;
  width: 100%;
  height: auto; /*se puede poner en píxeles, por ejemplo 200 px*/
  background-color: green;
  border-style:double;
  margin: 1em; /*separación del elemento y resto de las cajas, L, R, T, B */
  padding: 2em; /*separación del texto y la caja, L, R, T, B */
}
#cabecera{
  position: relative;
  width: 75%;  /*ancho*/
  height:auto; /*alto*/
  background-color: red;
  border-style:dotted; /*borde*/
  margin: 2em;
  padding: 4em;
  background-image: url(marcadeagua.png);
}
/*https://jorgesanchez.net/manuales/html/posicionamiento-css.html*/
/*posicionamiento estático es la forma natural de aparecer en la web, de arriba a abajo y de izq a derecha*/
/*posicionamiento relative provoca desplazamiento, añadimos top, left, right, bottom, según aparecen en el html*/
/*posicionamento fixed no deja huecos, flota por la página, también top, left, right bottom */
/*posicionamiento absolute las coordenadas de la capa interior es respecto a la capa padre*/

#cabeceradentro {
  position: absolute;
  left: 1em;
  background-color:  #999
}

#contenido{
  position: static;
  width: 100%;
  height:auto;
  background-color: blue;
  border-style:groove;
  margin:1em;
  padding:1em;
}
