body {
   margin: 0;
   padding: 0;
}
#outer {
   margin: 5em;
   height: 3em;
   border: 1px solid #f00; /*rojo*/
   position: relative;
}
#inner {
   width: 6em;
   height: 4em;
   background-color: #999; /*gris*/
   position: absolute;
   left: 1em;
}
/*Para mover el INNER hay qUe poner posición absoluta a inner pero cambiar a posición relativa a
outer (para que se desplace con respecto a outer)*/
