form {
  width: 25%;
  border: 1px solid #ccc;
  margin: 20px;
  padding: 20px;
}
label {
  font-size:12pt;
  display: block;        /*label elemento de línea, para que sea bloque display:block*/
  width:100%;
}
textarea {
  resize: vertical;    /*para no dejar agrandar área de texto*/
  max-height: 300px;   /*para limitar el tamaño*/
  min-height: 100px;
}

input, textarea {
  margin-top: 5px;
  margin-bottom: 10px;
  width: 100%;
  padding: 5px;
  box-sizing: border-box; /*alienar cajas*/
}
 input:focus, textarea:focus { /*para que cuando estemos escribiendo en un input se remarque en otro color*/
   border: 1px solid #166864;
 }

input[type:"submit"] {  /*modificar botón, a mi no me lo coge*/
  margin-bottom: 0;
  background-color: #166864;
  color: #fff;
  border:none;
}
input[type:"submit"]:hover {
  background-color: #4A8854;
  cursor:pointer;
}
 /*border: 1px solid #166864;*/
